/* *********************** */
/* ***** SITE COLORS ***** */
/* *********************** */

$primary: #34ac98;
$secondary: #ec6535;
$highlight: #ffffa1;

/* **************************** */
/* ***** SITE COLOR MIXES ***** */
/* **************************** */

$primaryLight: mix(white, $primary, 30%);
$primaryDark: mix(black, $primary, 30%);
$secondaryLight: mix(white, $secondary, 30%);
$secondaryDark: mix(black, $secondary, 30%);
