/* *********************** */
/* ***** SITE COLORS ***** */
/* *********************** */

$primary: #34ac98;
$secondary: #ec6535;
$highlight: #ffffa1;

/* **************************** */
/* ***** SITE COLOR MIXES ***** */
/* **************************** */

$primaryLight: mix(white, $primary, 30%);
$primaryLighter: mix(white, $primary, 80%);
$primaryLightest: mix(white, $primary, 92%);
