<!-- BEGIN FOOTER -->
<footer>

    <!-- FOOTER COPY -->
    <div class="footer-copy">
        <ul class="footer-links">
            <li>
                <a href="http://foodsense.is/legal">Privacy Policy</a>
            </li>
            <li>
                <a href="http://foodsense.is/legal#terms">Terms of Use</a>
            </li>
            <li>
                <a href="mailto:hello@foodsense.is">Contact</a>
            </li>
        </ul>
        <p class="footer-copyright">
            &copy;
            <script>document.write(new Date().getFullYear())</script> Food Sense, all rights reserved.
        </p>
    </div>

    <!-- FOOTER SOCIAL SHARING -->
    <div class="footer-social">
        <ul>
            <li>
                <a class="twitter" href="http://twitter.com/getfoodsense">Twitter</a>
            </li>
            <li>
                <a class="facebook" href="http://www.facebook.com/getfoodsense">Facebook</a>
            </li>
            <li>
                <a class="rss" href="http://foodsense.is/rss">Subscribe via RSS</a>
            </li>
        </ul>
    </div>
</footer>
<!-- END FOOTER -->

</div>
<!-- END SITE WRAPPER -->