<!-- BEGIN PAGE WRAPPER -->
<div class="page-wrapper">

  <!-- BEGIN HEADER -->
  <header>

    <!-- SITE LOGO -->
    <h1 class="branding">Food Sense</h1>

    <!-- SITE NAV -->
    <nav>
      <ul>
        <li>
          <a href="http://foodsense.is/tastemakers" class="tastemakers">Tastemakers</a>
        </li>
        <li>
          <a href="http://foodsense.is/blog" class="blog">Blog</a>
        </li>
        <li>
          <a href="http://foodsense.is/a-list" class="alist">The A-List</a>
        </li>
        <li>
          <a href="http://foodsense.is/contribute" class="contribute">Contribute</a>
        </li>
        <li>
          <a href="http://foodsense.is/about" class="about">About</a>
        </li>
      </ul>
    </nav>

    <!-- HEADER SOCIAL -->
    <aside class="header-social">
      <section class="twitter">
        <h1 class="dotted">Latest Tweet</h1>
        <p>
          <a class="button" href="http://twitter.com/getfoodsense">Join the Conversation</a>
        </p>
      </section>
      <section class="facebook">
        <h1 class="dotted">Let's Be Friends!</h1>
        <p>For weekly finds, community recommendations, and more, like us on Facebook.</p>
        <p>
          <a class="button" href="http://www.facebook.com/getfoodsense">Join the Community</a>
        </p>
      </section>
    </aside>

  </header>
  <!-- END HEADER -->